/* PENGATURAN SIDEBAR LEFT ( L ) */

#sidebar-wrapper-L {
  z-index: 1000!important;
  position: fixed!important;
  left: 250px!important;
  width: 0!important;
  height: 100%!important;
  margin-left: -250px!important;
  overflow-y: auto!important;
  background: #e4e6ed!important;
  -webkit-transition: all 0.5s ease!important;
  -moz-transition: all 0.5s ease!important;
  transition: all 0.5s ease!important;
  /*border: 0.3px solid #48546e!important;*/
}

#wrapper-L.toggled-L #sidebar-wrapper-L {
  width: 250px!important;
}

#wrapper-L {
  padding-left: 0px!important;
  -webkit-transition: all 0.5s ease!important;
  -moz-transition: all 0.5s ease!important;
  transition: all 0.5s ease!important;
}

#wrapper-L.toggled-L {
  padding-left: 250px!important;
}

@media (min-width:768px) {
  #wrapper-L.toggled-L #sidebar-wrapper-L {
    width: 250px!important;
  }
}

@media (min-width:768px) {
  #wrapper-L {
    padding-left: 250px!important;
  }
}

@media (min-width:768px) {
  #wrapper-L.toggled-L {
    position: relative!important;
    margin-right: 0px!important;
    padding-left: 0px!important;
  }
}

@media (min-width:768px) {
  #sidebar-wrapper-L {
    width: 250px!important;
  }
}

@media (min-width:768px) {
  #wrapper-L.toggled-L #sidebar-wrapper-L {
    width: 0px!important;
  }
}

/* PENGATURAN ICON SIDEBAR LEFT ( L ) */

.icon-sidebar-L {
  color: #f3f3f4;
  margin: 0px 10px 0px 0px;
  padding: 5px 5px 5px 5px;
  border-radius: 2px;
  /*border: 0.5px solid #434f67;*/
  /*background: #4e5c78;*/
}

.card-body-sidebar {
  background: #fefeff;
}

#menu-toggle-L {
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
  width: 40px;
  background: #3d474c;
}

